# flyctl launch added from .gitignore
**/zac-george-gpt

# flyctl launch added from zac-george-gpt/.gitignore
# created by virtualenv automatically
zac-george-gpt/**/*

# flyctl launch added from zac-george-gpt/lib/python3.11/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/.gitignore
zac-george-gpt/lib/python3.11/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.*.so
zac-george-gpt/lib/python3.11/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.*.pyd
zac-george-gpt/lib/python3.11/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.pyx

# flyctl launch added from zac-george-gpt/lib/python3.11/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/.gitignore
zac-george-gpt/lib/python3.11/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_x86.dylib
zac-george-gpt/lib/python3.11/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_x86_64.dylib
zac-george-gpt/lib/python3.11/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_linux_x86.o
zac-george-gpt/lib/python3.11/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_linux_x86_64.o
fly.toml

scripts/audio/